<div class="row profile-details">
    <div class="col-sm-5">
        <img class="profile-picture" src="../../assets/img/blank-profile-picture.png">
    </div>
    <div class="col-sm-7 profile-text">
        <h3>Username</h3>
        <div>
            <span>From:</span>
        </div>
        <div>
            <span>Age:</span>
        </div>
        <div>
            <span>Jokes wirtten:</span>
        </div>
        <div>
            <span>Total likes:</span>
        </div>
        <div>
            <span>Total favorites:</span>
        </div>
    </div>
</div>

<app-joke-item></app-joke-item>