$border-color: #edeeee;

h3 {
  font-size: 30pt;
  display: inline-block;
}

a{
  float: right;
  margin-top: 10px;
}

i{
  color: $border-color;
}

.profile-details {
  border: 1px solid $border-color;
  padding: 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.profile-text {
}

.profile-text div {
  font-size: 15pt;
  margin-top: 15px;
}
