<h2>Top jokes:</h2>
<div class="scrolling-wrapper">
    <div *ngFor="let joke of topJokes" class="card">
        <a id="jump-link" href="/jokes#{{joke.id}}">
            <div class="joke">
                <p>{{joke.joke}}</p>
            </div>
            <div class="credits">
                <span>by <a [routerLink]="['/jokes/from',+joke.author.id]">{{joke.author.username}}</a> at <a
                        [routerLink]="['/jokes/date',joke.timestamp]">{{joke.timestamp}}</a></span>
            </div>
        </a>
    </div>
</div>