.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-top:30px;
}

.card {
    display: inline-block;
    width: 400px;
    margin-right: 25px;
    margin-bottom:5px;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.joke{
    font-size:30pt;
}

.credits{
    color: rgb(194, 194, 194);
}