$button-hover-color: #ddd;
$button-color: #c4c3c3;
$border-color: #edeeee;

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.post {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-top: 25px;
}

.post-header {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid $border-color;
}

.post-joke {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.user {
  font-size: 20pt;
  margin-right: 10px;
}

.post-text {
  color: rgb(194, 194, 194);
}

div.post-footer {
  margin: auto;
  border-top: 1px solid $border-color;
}

button.reaction {
  background-color: white;
  border: 0px;
  padding: 15px;
  margin-right: 10px;
  color: $button-color;
}

button.reaction:hover {
  background-color: #ddd;
}

button#like {
  float: left;
  display: inline-block;
  border-bottom-left-radius: 5px;
}

button#dislike {
  display: inline-block;
  border-bottom-right-radius: 5px;
}

.post-header button {
  float: right;
}

button.new-joke {
  width: 100%;
  border-radius: 5px;
}

.btn-darkgrey {
  background-color: #1d1f20;
  color: white;
  border: 0px;
}

.btn-darkgrey:hover {
  background-color: #363738;
}

button.btn-light {
  background-color: #f1f1f1;
  border: 1px solid #edeeee;
}

button.btn-light:hover {
  background-color: $button-hover-color;
}

div.favorite-container {
  float: right;
}

button.favorite:hover {
  background-color: $button-hover-color;
}

button.favorite {
  color: $button-color;
  background-color: white;
  border: 0px;
  padding: 6px;
}

button#unfavorite {
  margin-right: -12px;
}

#like {
  color: rgba(0, 0, 255, 0.329);
}

#like-active {
  color: rgb(0, 0, 255);
}

#dislike {
  color: rgba(255, 0, 0, 0.329);
}

#dislike-active {
  color: rgb(255, 0, 0);
}

.post-footer mdb-icon {
  margin-right: 10px;
}

.by-display {
  margin: 40px 0;
}

/*Dropdown styles*/
/* Dropdown Button */
.dropbtn {
  color: $button-color;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 35px;
  right: 0px;
  text-align: right;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ddd;
}
