<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit joke</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editJokeForm" (ngSubmit)="onSubmit()">
            <label>Edit joke:</label>
            <input class="form-control" formControlName="joke" type="comment">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </div>
</ng-template>

<ul>
    <li *ngFor="let joke of jokes">
        <div id="{{joke.id}}" class="post">
            <div class="post-header">
                <a [routerLink]="['/userdetails/',+joke.author.id]" class="user">{{joke.author.username}}</a>
                <span class="post-text">posted a joke at
                    <a [routerLink]="['/jokes/date',joke.timestamp]">{{joke.timestamp}}</a>
                </span>

                <div style="float:right;" class="dropdown">
                    <button class="dropbtn">
                        <mdb-icon fas icon="ellipsis-v"></mdb-icon>
                    </button>
                    <div class="dropdown-content">
                        <a (click)="open(content, joke)">Edit joke</a>
                        <a (click)="deleteJoke(joke)">Delete joke</a>
                    </div>
                </div>

                <div class="favorite-container">
                    <button (click)="favorite(joke.id)" class="favorite">
                        <mdb-icon far *ngIf="!isJokeFavorite(joke.id)" icon="star">
                        </mdb-icon>
                    </button>
                    <button *ngIf="isJokeFavorite(joke.id)" class="favorite" (click)="unfavorite(joke.id)"
                        id="unfavorite">
                        <mdb-icon fas icon="star">
                        </mdb-icon>
                    </button>
                </div>
            </div>
            <div class="post-joke">
                <p>{{joke.joke}}</p>
            </div>
            <div class="post-footer">
                <button (click)="like(joke.id)" class="reaction" id="like">
                    <span>
                        <mdb-icon far icon="thumbs-up"></mdb-icon>{{getNumberOfLikes(joke.id)}}
                    </span>
                </button>
                <button (click)="dislike(joke.id)" class="reaction" id="dislike">
                    <span>
                        <mdb-icon far icon="thumbs-down"></mdb-icon>{{joke.dislikes}}
                    </span>
                </button>
            </div>
        </div>
    </li>
</ul>