ul {
  list-style-type: none;
}

.user-section {
  margin-top: 25px;
  border: 1px solid #edeeee;
  border-radius: 5px;
  padding: 15px;
}

.profile-picture {
  padding: 15px 10px 15px 0;
}

.user-details-container{
  font-size: 15pt;
}

a, a:hover{
  text-decoration: none;
  color: black;
}