$border-color: #edeeee;
$button-hover-color: #ddd;
$button-color: #3a3a3a;
$button-background-color: #929292;

$shadow-onfocus: #3a3a3a81;

button.open-button {
  z-index: 1;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  border-radius: 50%;
}

.green-border-focus textarea:focus {
  box-shadow: 0px 0px 3px 3px $shadow-onfocus;
  border-color: $shadow-onfocus;
}