/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

$border-color: #edeeee;

body {
  margin: 0;
  padding: 0;
}

app-top-bar, .container{
    font-family: Helvetica;
}

img.profile-picture {
  width: 100%;
  border-right: 1px solid $border-color;
  padding: 40px 40px 40px 0;
}

#logo-a {
  font-family: stoner;
  font-size: 25pt;
}

@font-face {
  font-family: stoner;
  src: url(assets/stoner.ttf) format("opentype");
}