$border-color: #edeeee;
$button-hover-color: #ddd;
$button-color: #3a3a3a;
$button-background-color: #929292;

button{
    background-color: $button-background-color;
    color: white;
}

img{
    width: 90%;
}

button:hover{
    color: white;
}

input:focus{
    border-bottom-color: $border-color !important;
    box-shadow:  0 1px 0 0 $border-color !important;
}

label:active{
    color: $button-color !important;
}

.auth-container{
    width: 50%;
    border: 1px solid $border-color;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}

.header{
    font-size: 30pt;
}

.header h2{
    display: inline;
}

.header i{
    float: right;
    margin-top: 15px;
}

.forms{
    margin: auto;
    overflow: auto;
}

.login{
    float: left;
    padding: 30px;
    width: 50%;
}

.register{
    border-left: 1px solid $border-color;
    float: left;
    padding: 30px;
    width: 50%;
}

.logo-container{
    margin: auto;
    text-align: center;
}

#logo-a{
    color: black;
    font-size: 15vw;
    font-weight: 500;
}