<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a id="logo-a" class="navbar-brand" href="#">InstaJokes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!--Dodaj active klasu kad je aktivna stranica, zelena crta ispod?-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/jokes">Jokes<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/users" href="#">Users<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="dropdown">
      <button class="dropbtn">
        <i class="fas fa-user"></i><span>{{username}}</span>
      </button>
      <div class="dropdown-content">
        <a routerLink="/userdetails/{{userId}}">My profile</a>
        <a routerLink="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>